.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background: white;

  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.logo-link {
  text-decoration: none;
}

.logo {
  color: #0d9488;
  font-size: 36px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.trial-btn {
  border: none;
  background: #0d9488;
  color: white;
  padding: 10px 22px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.trial-btn:hover {
  background: #0f766e;
}

.logout-btn {
  border: 1px solid #e11d48;
  background: #fff;
  color: #e11d48;
  padding: 10px 22px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #fef2f2;
}